* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


ul {
    list-style: none;
}

input,textarea {
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
}

input::placeholder {
    color: black;
}

/* UP IS COMMON CONFIGURATION */

h1 {
    font-size: 62px;
    letter-spacing: 6px;
}
.container {
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
    padding: 5% 5% 0;
}


#greeting-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting-container h1 {
    color: black;
    user-select: none;
    font-weight: 400;
}


/* header */

.header-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header-input {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.header-input input {
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    height: 0.9em;
}

#author-name {
    font-weight: 700;
    /* font-size: 112px; */
}

#book-name {
    font-weight: 100;
    /* font-size: 64px; */
    padding-right: 10px;
}

#part-name {
    font-weight: 300;
    font-size: 16px;
    padding-right: 15px;
    margin-top: 40px;
}

/* note input */

.note-input {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 100px 0 50px;
    width: 90%;
    height: 256px;
}

#subpart-name {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-bottom: 25px;
}

#note-textarea {
    resize: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2rem;
    letter-spacing: 0.15em;
}

#note-textarea::placeholder {
    color: black
}

.note-input button {
    position: absolute;
    bottom: 12px;
    right: 0;
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;
}

#custom-loader {
    position: absolute;
    top: -70px;
    left: 10%;
    width: 298px;
    height: 298px;
    transform: translate(-50%, 0);
    transform-origin: center;
    animation: loader-spin 450s infinite;
}

#custom-loader span {
    font-size: 22px;
    font-weight: 100;
    height: 150px;
    position: absolute;
    width: 20px;
    left: 47%;
    top: 0;
    transform-origin: bottom center;
    user-select: none;
    background: black;
    color: white;
    padding-top: 20px;
}

@keyframes loader-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(18000deg);
    }
}

#loader-begin-button {
    position: absolute;
    /* top: -70px; */
    z-index: 2;
    position: absolute;
    color: white;
    top: 68px;
    left: calc(10% + 149px);
    letter-spacing: 0.15em;
    font-weight: 900;
    font-size: 14px;
    cursor: pointer;
    transform: translate(-50%, 0);
}

/* added part */

.added-part {
    position: relative;
    width: 90%;
    height: 1019px;
    padding-top: 10%;
    display: flex;
    flex-direction: row;
}

.line {
    font-size: 8px;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 10px 0;
    position: absolute;
    user-select: none;
}

#horizontal-text-line {
    top: 10px;
    left: 0px;
}

#horizontal-text-line-bottom {
    bottom: 94px;
    left: 0px;
}

#vertical-text-line {
    transform: rotate(90deg);
    transform-origin: 0 100%;
    height: 10px;
    width: 1000px;
}

.vertical-line-wrapper {
    position: absolute;
    top: 0px;
    right: -10%;
}

#added-notes {
    min-width: 400px;
    margin-right: 100px;
}

#added-notes > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    cursor: pointer;
    user-select: none;
    margin: 30px 0;
    text-transform: uppercase;
}

.not-clicked p, 
.not-clicked button{
    font-weight: 700;
}

.clicked p {
    font-weight: 200;
}
.clicked button {
    font-weight: 300;
}

#added-notes > li p {
    font-size: 60px;
}

.subpart-list {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.2em;
    line-height: 1.1rem;
    text-transform: uppercase;
    margin: 0 30px;
    width: 300px;
}

.subpart-list li {
    width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#added-notes > li button {
    background: transparent;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    cursor: pointer;
    height: 16px;
    font-size: 16px;
    user-select: none;
    display: flex;
    height: 100%;
    align-items: flex-end;
}

#clear-all-button {
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    cursor: pointer;
    margin-top: 25px;
    text-align: center;
    width: 100%;
    height: 30px;
    user-select: none;
    font-size: 16px;
}

#added-notes #no-notes {
    text-align: center;
    font-weight: 100;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 35px;
    display: block;
    margin: 0px;
}

#opened-part {
    flex-grow: 1;
}

#opened-part h1 {
    text-align: right;
    margin-bottom: 55px;
    text-transform: uppercase;
}

#working-note-area ul {
    padding: 10px 20px;
}

#working-note-area h3 {
    letter-spacing: 0.15em;
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.5rem;
    text-transform: uppercase;
}

#working-note-area li {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.15em;
    line-height: 1.5rem;
}

.black-footer {
    position: absolute;
    height: 30px;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
}

.right-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 270px;
    right: -95px;
    top: 27%;

    color: white;
    background-color: black;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.15em;
    transform: rotate(-90deg);
}

